.button-label {
  position: fixed;
  bottom: 300px;

  right: 20px;
  background-color: #e15535; /* Teal background */
  color: white; /* White text */
  padding: 12px 24px;
  border-radius: 50px; /* Rounded shape */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  z-index: 9999; /* Ensure the button is on top of all content */
}

.button-label:hover {
  background-color: #b26443; /* Darker teal on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}
